body {
  font-size: 14px;
}

/* Setting up the NAVBAR with .example and nav */
.example, h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 5vw;
  width: 100%;
  float: left;
  display: inline;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: 10px;
  list-style: none;
  float: right;
  position: fixed;
  display: inline;
  width: 100%;
}

/* This is the main text area styling */
section {
  margin: 0 auto;
  width: 60%;
}

h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* Added element-last-3 to add a background color */
/* Also had to modify index.html to call the correct code */
.element-last-3 {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
